.container {
    border: 5px solid #f36b2a;
    border-radius: 50px;
    background-color: white;
    padding: 16px;
    text-align: center;
    width: 500px;
    margin: auto;
 
}

.heading {
    font-size: 17px;
    font-weight: 600;
    
}
/* Full-width input fields */

.input{
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 90%;
    border: 1px solid;
    background: #f1f1f1;
    box-sizing: border-box;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
 
}
/* input.ng-valid {
    border-left: 0.3em solid green;
}
input.ng-invalid {
    border-left: 0.3em solid red;
} */
/* NEW */
.input {
    margin-bottom: 5px;
}
.icons label{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 12.5px;
    margin-top: 10px;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.input:focus {
    background-color: #f36b2a;
    outline: none;
   
}



/* Overwrite default styles of hr */

.hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* BUTTON STYLE */

/* .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
   
    cursor: pointer;
    opacity: 0.9;
} */

/* .registerbtn:hover {
    opacity: 1;
    
 
        cursor: pointer;
        background-color: #f36b2a;
        border:  2px solid #161c34;;
        border-radius: 10px; 
        color: #fff;
        padding: 10px;
        width: 100px;
        margin: 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    
} */

/* Add a blue text color to links */

a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
    padding: 16px;
    background-color: #f1f1f1;
    text-align: center;
 
}
.button_list {
 
    cursor: pointer;
    background-color: #f36b2a;
    border:  2px solid #161c34;;
    border-radius: 10px; 
    color: #fff;
    padding: 10px;
    width: 100px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button_list:hover {
    color: #161c34;
}
.button_list:disabled{
    cursor: pointer;
    background-color: #161c34;
    border:  2px solid #161c34;;
    border-radius: 10px; 
    color: #fff;
    padding: 10px;
    width: 100px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* STYLE ERRORS */
.errors {
    color: red;
    padding-bottom: 10px;
  
}